<!DOCTYPE html>
<style>
input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
<html>
  <head>
    <title>Food</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <% if user_signed_in? %>


        <% if current_user.isRestaurant %>
        <div class="navbar-header">
        <a class="navbar-brand" href="/orders">Fran's Food Restaurant Style</a>
        </div>

        <li class="active"><a href="/orders">Everyone's Orders</a></li>
        <li><a href="/myorders">Your Order History</a></li>
        <% if current_user.restaurants.empty? %>
          <li><a href="/restaurants/new">You're a new and need to add restaurant to the list of restaurant</a></li>
        <% else %>
         <li><a href="/restaurants/new">YHello</a></li>
        <% end %>

        <% else %>
        <div class="navbar-header">
        <a class="navbar-brand" href="/orders">Fran's Food</a>
        </div>
        <li class="active"><a href="/orders">Everyone's Orders</a></li>
        <li><a href="/myorders">Your Order History</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/orders/new">Create Order</a></li>
        <% end %>
        <li> <%= link_to 'Logout', destroy_user_session_path, method: :delete %> </li>
        <% else %>
      <% end %>
    </ul>
  </div>
  </nav>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    </div>
    <%= yield %>
  </body>
</html>
